<!DOCTYPE  html>
    <html lang="en">
    <head>
        <title >{{ title }}</title>
    </head>

    <body>
        {% set  navlist = [
            ('/products ', 'products ', 'Products '),
            ('/register ', 'register ', 'Register '),
            ('/account ', 'account ', 'Account ')
        ]  -%}
        <nav>
            <ul>
            {% for href , id , caption  in  navlist  %}
                <li><a id="{{ id|e }}" href="{{ href|e }}">{{  caption|e }}</a></li>
            {%  endfor  %}
            </ul>
        </nav>
        <p>
            {{ myContent }}
        </p>
    </body>

</html>