
{% extends "index.html" %}

{% block content %}
<p>
    <fieldset>
        <legend>Sign up</legend>
        <form action="/register" method="POST">
            <p><label for="name">Name:</label>
            <input name="name" id="name" value="" type="text" /></p>
            <p><label for="email">Password:</label>
            <input name="password" id="mdp" value="" type="text" /></p>
            <button type="submit" value="submit">Submit</button>
        </form>
    </fieldset>
</p>
{% endblock %}